body {
	background-image: url("images/fall6.jpg");
	font-family: Georgia, Cambria, serif;
	font-size: 100%;
	font-weight: normal;
}

.wrapper {
	background-image: url("images/fall3.jpg");
	border: 6px solid black;
	margin: 0 auto;
	min-width: 600px;
	width: 55%;
}

header {
	background-color: #393939;
	height: 100px;
	overflow: hidden;
}

.container {
	background-color: white;
	height: 700px;
	margin: 0 auto;
	margin-top: -23px;
	width: 60%;
}

h1 {
	color: coral;
	font-size: 2.5em;
	text-align: center;
	vertical-align: middle;
}

h2 {
	color: coral;
	font-size: 1.75em;
	padding: 1em 0 0 1.5em;
	vertical-align: middle;
}

#photo {
	display: block;
	float: right;
	height: auto;
	margin: 0 auto;
	max-height: 105px;
	max-width: 255px;
	padding: 2em 2.25em 1em 1.25em;
	width: auto;
}

#intro {
	padding-left: 2.5em;
}

.text {
	color: #393939;
	text-align: left;
	padding-right: 2.5em;
}

span {
	text-indent: 25px;
}

/* === footer === */

footer {
	background-color: #393939;
	color: white;
	font-size: .75em;
	height: 35px;
	margin-top: -20px;
	padding: .2em 1em 0 0;
	text-align: right;
}
